body {
    background-color: #FFF2F2;
    margin: 0px;
}

p {
    font-size: 19px;
    color: grey;
}

h2 {
    font-size: 37px;
}

img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    height: 470px;
    width: 300px;
}

.template-container {
    height: 470px;
    width: 600px;
    position: relative;
    margin: 150px auto 100px auto;
    border-radius: 10px;
}

.enclosing-cont {
    position: relative;
    padding: 0px 32px 0px 32px;
    top: 5px;
}


.img-temp {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: red;
    height: 470px;
    width: 300px;
    position: absolute;
}


.text-temp {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    height: 470px;
    width: 300px;
    position: absolute;
    left: 300px;




}

.price-tag {
    position: relative;
    height: 34px;
    width: 150px;
}

.og-price {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    left: 110px;
}

.offer-price {
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    font-size: 30px;
    color: #42855B;
}

.btn {
    position: relative;
    height: 46px;
    width: 235px;
    background-color: #42855B;
    margin-top: 20px;
    border-radius: 7px;
    text-align: center;/*make the position of the btn absolute to the enc container so that whenever the size is changed it will adjust accordingly*/

}

h3 {
    margin: 0px;
    position: absolute;
    top: 10px;
    left:98px;

    


}

